---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?api_key=<WATTS_KEY>&array_type=1&azimuth=180&lat=100&lon=0&losses=0&module_type=1&system_capacity=500000&tilt=45
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
    body:
      encoding: UTF-8
      string: '{"inputs":{"lat":"100","lon":"0","system_capacity":"500000","module_type":"1","losses":"0","array_type":"1","tilt":"45","azimuth":"180"},"errors":["''lat''
        must be between -90 and 90"],"warnings":[],"version":"1.1.0","ssc_info":{"version":34,"build":"Unix
        64 bit GNU/C++ Aug 18 2014 13:38:36"},"outputs":{}}'
  recorded_at: Thu, 04 Jun 2015 18:52:44 GMT
recorded_with: VCR 2.9.3
